<div class="flex cursor-grab flex-col gap-3 rounded-xl bg-[#FAFAFA] p-3">
  <div class="flex gap-1">
    <p class="font-bold">New Task</p>
    <img
      class="ml-auto cursor-pointer self-start"
      src="images/icon-delete.svg"
      alt="Delete Task"
    />
  </div>

  <p class="text-sm font-light">Task description goes here...</p>

  <div class="flex items-center gap-1">
    <img
      src="images/icon-comments.svg"
      alt="Comments"
    />
    <p class="cursor-pointer text-xs font-semibold text-[#2A89EF] underline underline-offset-2">2 Comentários</p>
    <p
      (click)="openEditTaskModal()"
      class="ml-auto cursor-pointer text-xs font-semibold text-[#2A89EF] underline underline-offset-2"
    >
      Editar
    </p>
  </div>
</div>
