<form
  [formGroup]="taskForm"
  class="overflow-hidden rounded-xl bg-white"
  (ngSubmit)="onFormSubmit()"
>
  <div class="flex items-center gap-1 p-4">
    <img
      src="images/icon-new-task.svg"
      alt="New Task Icon"
    />
    <h1 class="text-lg font-semibold">{{ _data.mode === 'create' ? 'Criar' : 'Editar' }} tarefa</h1>
    <img
      src="images/icon-close.svg"
      alt=" "
      class="ml-auto cursor-pointer"
      (click)="closeModal()"
    />
  </div>

  <div class="flex flex-col gap-4 border-y border-[#D1D5DB] p-4">
    <div>
      <p class="mb-2 text-sm font-semibold">Nome</p>
      <input
        class="w-full rounded-lg border border-[#D1D5DB] p-3 text-sm font-light text-[#89919F]"
        type="text"
        placeholder="Descreva o que deverá ser feito"
        formControlName="name"
      />

      @if(taskForm.get('name')?.invalid && taskForm.get('name')?.touched) {
      <p class="h-0 text-sm font-semibold text-red-500">O campo é obrigatório e precisa ter no mínimo 10 caracteres</p>
      }
    </div>
    <div>
      <p class="mb-2 text-sm font-semibold">Descrição</p>
      <input
        class="w-full rounded-lg border border-[#D1D5DB] p-3 text-sm font-light text-[#89919F]"
        type="text"
        placeholder="Adicione uma descrição"
        formControlName="description"
      />

      @if(taskForm.get('description')?.invalid && taskForm.get('description')?.touched) {
      <p class="h-0 text-sm font-semibold text-red-500">O campo é obrigatório e precisa ter no mínimo 10 caracteres</p>
      }
    </div>
  </div>

  <div class="flex justify-end gap-2 p-4">
    <button
      class="cursor-pointer rounded-xl bg-[#FAFAFA] px-4 py-3 text-sm font-semibold transition-transform duration-75 active:translate-y-1"
      type="button"
      (click)="closeModal()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      [disabled]="taskForm.invalid"
      class="{{`py-3 px-4 rounded-xl text-white textsm font-semibold cursor-pointer ${taskForm.invalid ? 'bg-[#D7D8D8]' : 'bg-[#2A89EF] transition-transform duration-75 active:translate-y-1 shadow-md shadow-blue-500/50'} `}}"
    >
      {{ _data.mode === 'create' ? 'Criar uma tarefa' : 'Salvar alterações' }}
    </button>
  </div>
</form>
